In [1]:
import pandas as pd
import numpy as np

In [14]:
dates = ["3/11/2000", "3/12/2000", "3/3/2000"]
ps = pd.DataFrame(dates, columns=["date"])

In [15]:
ps

        date
0  3/11/2000
1  3/12/2000
2   3/3/2000

In [16]:
ps["date"] = pd.to_datetime(ps["date"])

In [17]:
ps

        date
0 2000-03-11
1 2000-03-12
2 2000-03-03