In [1]:
import pandas as pd
import numpy as np

In [2]:
dictionary = {
        'roll_no' : [1,2,3],
        'name' : ['mhp', 'meet', 'mhparikh']
}

In [4]:
df = pd.DataFrame(dictionary)
df

   roll_no      name
0        1       mhp
1        2      meet
2        3  mhparikh

In [5]:
ps = pd.Series(df.get('name'))
ps

0         mhp
1        meet
2    mhparikh
Name: name, dtype: object

In [7]:
ps2 = df.iloc[:,1]
ps2

0         mhp
1        meet
2    mhparikh
Name: name, dtype: object