In [1]:
import pandas as pd
import numpy as np

In [2]:
ps1 = pd.Series(np.arange(0,10))
ps1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
ps2 = pd.Series(list("pqrstuvwxyz"))
ps2

0     p
1     q
2     r
3     s
4     t
5     u
6     v
7     w
8     x
9     y
10    z
dtype: object

In [5]:
df =  pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [9]:
pd.concat([ps1, ps2], axis=1)

      0  1
0   0.0  p
1   1.0  q
2   2.0  r
3   3.0  s
4   4.0  t
5   5.0  u
6   6.0  v
7   7.0  w
8   8.0  x
9   9.0  y
10  NaN  z