In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(10, 2))

In [3]:
df

          0         1
0  0.105973 -0.682286
1 -1.506044 -0.420780
2 -0.542248  2.183689
3  1.173128  0.800881
4  0.659317 -1.729622
5 -1.940195 -1.182151
6 -0.930544  1.868756
7  0.266066 -0.169985
8  0.036204 -0.467825
9  0.175030  0.072465

In [12]:
part_70 = df.sample(frac=0.5,random_state=10)

In [13]:
part_70

          0         1
8  0.036204 -0.467825
2 -0.542248  2.183689
5 -1.940195 -1.182151
6 -0.930544  1.868756
3  1.173128  0.800881

In [33]:
df.loc[np.random.choice(df.index.values,3)]

          0         1
0  0.105973 -0.682286
6 -0.930544  1.868756
2 -0.542248  2.183689

In [36]:
part_30 = df.drop(part_70.index)

In [37]:
part_30

          0         1
0  0.105973 -0.682286
1 -1.506044 -0.420780
4  0.659317 -1.729622
7  0.266066 -0.169985
9  0.175030  0.072465