In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"col1": ["C1", "C1", "C2", "C2", "C2","C3", "C2"], "col2": [1,2,3,4,5,6,5]})
df

  col1  col2
0   C1     1
1   C1     2
2   C2     3
3   C2     4
4   C2     5
5   C3     6
6   C2     5

In [6]:
g = df.groupby("col1")

In [9]:
g.get_group("C1")

  col1  col2
0   C1     1
1   C1     2

In [11]:
g.col2.apply(list)

col1
C1          [1, 2]
C2    [3, 4, 5, 5]
C3             [6]
Name: col2, dtype: object